<header>
  <h1 class="h2">Customer Search</h1>
</header>

<section class="search-form">
  <form>
    <label for="search.keywords" class="sr-only">Keywords</label>
    <input type="text"
           name="keywords"
           class="form-control input-lg"
           placeholder="First Name, Last Name, or Email Address"
           data-ng-change="search(keywords)"
           data-ng-model="keywords"
           data-ng-model-options="{debounce: 300}">
  </form>
</section>


<aside class="loading" data-ng-show="loading">
  <loader></loader>
</aside>

<section class="search-results" data-ng-if="customers.length > 0">
  <header>
    <h1 class="h3">Results</h1>
  </header>

  <ol class="list-group">
    <li class="list-group-item clearfix"
        data-ng-repeat="customer in customers">
        <customer-row for="customer"></customer-row>
    </li>
  </ol>
</section>

<customers-pager></customers-pager>
